services:
  database:
    image: postgres:18.1-alpine3.21
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: username1
      POSTGRES_PASSWORD: password1
      POSTGRES_DB: weather
  wiremock:
    image: wiremock/wiremock:3.13.2
    ports:
      - "9000:8080"
    volumes:
      - ./src/test/resources/wiremock/mappings:/home/wiremock/mappings