services:
  database:
    image: postgres:18.0-alpine3.21
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: username1
      POSTGRES_PASSWORD: password1
      POSTGRES_DB: weather
  wiremock:
    image: wiremock/wiremock:3.13.1
    ports:
      - "9000:8080"
    volumes:
      - ./src/test/resources/wiremock/mappings:/home/wiremock/mappings
  prometheus:
    image: prom/prometheus:v3.7.1
    ports:
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.retention.time=6h'
      - '--storage.tsdb.retention.size=200MB'
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
  grafana:
    image: grafana/grafana-oss:12.1.1
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards

    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USERNAME}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
      - GF_USERS_ALLOW_SIGN_UP=false