services:
  database:
    image: postgres:17.5-alpine3.21
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: username1
      POSTGRES_PASSWORD: password1
      POSTGRES_DB: weather
  wiremock:
    image: wiremock/wiremock:3.3.1
    ports:
      - "9000:8080"
    volumes:
      - ./src/test/resources/wiremock/mappings:/home/wiremock/mappings
  prometheus:
    image: prom/prometheus:v3.4.0
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml