scrape_configs:
  - job_name: 'weather-api'
    metrics_path: '/actuator/prometheus'
    scrape_interval: 60s
    static_configs:
      - targets: ['weather-api:8080']
        labels:
          application: 'weather-api'
  - job_name: 'prometheus'
    scrape_interval: 60s
    static_configs:
      - targets: [ 'localhost:9090' ]
        labels:
          application: "prometheus"

  - job_name: 'node'
    scrape_interval: 60s
    static_configs:
      - targets: [ 'node-exporter:9100' ]