# https://docs.docker.com/desktop/networking/#i-want-to-connect-from-a-container-to-a-service-on-the-host
# host access only with docker desktop
scrape_configs:
  - job_name: 'weather-api'
    metrics_path: '/actuator/prometheus'
    scrape_interval: 60s
    static_configs:
      - targets: ['host.docker.internal:8080']
        labels:
          application: 'weather-api'
  - job_name: 'prometheus'
    scrape_interval: 60s
    static_configs:
      - targets: [ 'localhost:9090' ]
        labels:
          application: "prometheus"