spring:
  config.activate.on-profile: local
  datasource:
    url: jdbc:postgresql://localhost:5432/weather
    username: username1
    password: password1
  liquibase:
    contexts: test
openweatherapi:
  baseUrl: "http://localhost:9000/data/2.5"
  appId: "1234random"
management:
  endpoints:
    web:
      exposure:
        include: "*"
