spring:
  main:
    allow-circular-references: true
  profiles:
    active: "local"
  application:
    name: weather-api
  datasource:
    name: weather
    driver-class-name: org.postgresql.Driver
    hikari.maxLifetime: 600000
  jpa:
    properties.hibernate.dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
  liquibase:
    change-log: classpath:/db/changelog/changelog-master.xml
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

