<!-- Navbar -->
<div class="navbar bg-secondary text-white shadow-sm">
    <div class="navbar-start">
        <div class="mobile-hide">
            <a href="https://weather.oskar-westmeijer.com" class="btn rounded-lg text-lg font-bold btn-ghost">⛅
                Weather</a>
        </div>
    </div>
    <div class="navbar-center">
        <a href="/" class="btn text-lg btn-ghost">📍 Overview</a>
        <a href="/details" class="btn text-lg btn-ghost">📈 Details</a>
    </div>
    <div class="navbar-end">
        <div class="mobile-hide">
            <a href="https://github.com/OskarWestmeijer/weather"
                aria-label="Oskar Westmeijer Github weather repository">
                <button class="btn rounded-lg">
                    <img alt="Github logo" class="size-6" src="assets/images/github.svg" />
                </button>
            </a>
        </div>
    </div>
</div>