<div class="flex flex-col items-center space-y-6">
    <select
        [(ngModel)]="selectedLocation"
        (ngModelChange)="onSelectChange($event)"
        name="selectedLocation"
        class="select bg-secondary text-base-100 w-full max-w-xs"
        aria-label="Location"
        id="location-select"
    >
        <option *ngFor="let location of locationList" [ngValue]="location">
            {{ location.cityName }}, {{ location.countryCode }}
        </option>
    </select>
    <app-timelapse-chart
        *ngIf="weatherMap"
        [dataMap]="weatherMap"
        [chartType]="ChartType.TEMPERATURE"
        class="w-full max-w-[90%]"
    ></app-timelapse-chart>
</div>
