<nav class="navbar navbar-expand-md">
    <div class="container">
        <a href="https://ui.oskar-westmeijer.com" class="navbar-brand"
            ><img
                width="25"
                height="25"
                src="/assets/images/weather_api.png"
                alt="Weather-Api logo"
            />
            Weather-Ui</a
        >

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navmenu"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/charts">Charts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
