<nav className="navbar navbar-expand-md fixed-top">
  <div className="container">
    <a href="https://ui.oskar-westmeijer.com" className="navbar-brand"><img width="25" height="25"
        src="/assets/images/weather_api.png" alt="Weather-Api logo" /> Weather-Ui</a>

    <button className="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span className="navbar-toggler-icon"></span>
    </button>


    <div className="collapse navbar-collapse" id="navmenu">
      <ul className="navbar-nav">
        <li className="nav-item">
          <a routerLink="/">{{title}}</a>
        </li>
        <li className="nav-item">
          <a routerLink="/">Overview</a>
        </li>
        <li>
          <a routerLink="/charts">Charts</a>
        </li>
      </ul>
    </div>
  </div>
</nav>