/* You can add global styles to this file, and also import other style files */
nav {
    background-color: #abf2ab;
}

footer {
    background-color: #abf2ab;
}

a {
    text-decoration: none;
}

.ci-bg {
    background-color: #abf2ab;
}
