<div class="container pt-3 mt-4">
    <div class="row">
        <div class="form-group">
            <label class="col-lg-2 col-md-12 col-form-label">Location</label>
            <div class="col-lg-5 col-md-12">
                <select [(ngModel)]="selectedLocation" (ngModelChange)="onSelectChange($event)" class="form-select" aria-label="Location">
                    <option
                        *ngFor="let location of locationList"
                        [value]="location.uuid"
                    >
                        {{ location.cityName }}, {{ location.countryCode }}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>
