name: main-build-test-release

on:
  push:
    branches:
      - main

env:
  JAVA_VERSION: 21.0.5
  NODE_VERSION: 22.11.0

jobs:
  backend-build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/backend-build-and-test
        with:
          code-cov: ${{ secrets.CODECOV_TOKEN }}
          java: ${{ env.JAVA_VERSION }}

  frontend-build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/frontend-build-and-test
        with:
          frontend-directory: frontend/weather-ui
          node: ${{ env.NODE_VERSION }}

  codeql-check:
    uses: ./.github/workflows/codeql.yml
    permissions:
      actions: read
      contents: read
      security-events: write

  trivy-image-check-backend:
    runs-on: ubuntu-latest
    needs: [ backend-build-and-test ]
    environment: oskar-westmeijer-environment
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/backend-check-trivy-image
        with:
          docker-username: ${{ secrets.DOCKER_USERNAME }}
          github-sha: ${{ github.sha }}

  release-backend-docker-image:
    needs: [ backend-build-and-test, frontend-build-and-test ]
    runs-on: ubuntu-latest
    environment: oskar-westmeijer-environment
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - name: login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: actions/download-artifact@v4
        with:
          name: app-jar
          path: target
      - name: image tagging
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/weather-api
          tags: |
            # set latest tag for master branch
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
            type=sha,format=long
      - name: push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}

  release-frontend-docker-image:
    needs: [ backend-build-and-test, frontend-build-and-test ]
    runs-on: ubuntu-latest
    environment: oskar-westmeijer-environment
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - name: login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: image tagging
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKER_USERNAME }}/weather-ui
          tags: |
            # set latest tag for master branch
            type=raw,value=latest,enable=${{ github.ref == format('refs/heads/{0}', 'main') }}
            type=sha,format=long
      - name: build and push image
        uses: docker/build-push-action@v6
        with:
          context: frontend/weather-ui
          push: true
          tags: ${{ steps.meta.outputs.tags }}
